.hero{

    background-image: url(../../Assests/images.jpeg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

.item{
    width: 500px;
    position: absolute;
    top:30%;
    left: 10%;
}
 .item h1{
     color: aliceblue;
     font-size: 40px;
 }

.item p{
      
    color: aliceblue;
    font-size: 30px;
}

.item .btn{
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: transparent;
    border: 3px solid rgb(226, 224, 224) !important;
    color: aliceblue;
    margin-top: 30px;

}